<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summoner's War Chronicles Skill DPS Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <h1 class="display-1 text-center">Argen VS Narin Ha</h1>
        <h1 class="display-3 text-center">SWC Calculator</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center">Argen</h3>
                            <div class="card">
                                <div class="card-body">
                                    <div class="input-group">
                                        <span class="input-group-text" id="argen-atk">ATK</span>
                                        <input v-model="argen.atk" type="number" class="form-control" aria-label="Argen ATK" aria-describedby="argen-atk">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="argen-cr">CR%</span>
                                        <input v-model="argen.cr" type="number" class="form-control" aria-label="Argen CR" aria-describedby="argen-cr">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="argen-cd">CD%</span>
                                        <input v-model="argen.cd" type="number" class="form-control" aria-label="Argen CD" aria-describedby="argen-cd">
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="card">
                                <div class="card-body">
                                    <p>Skill Modifier Base: {{argen.baseSkill}}%</p>
                                    <p>Per Debuff Modifier: {{argen.debuffSkillModifier}}%</p>
                                    <p>Total Skill Modifier: {{argenSkillModifier}}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center">Variables</h3>
                            <div class="card">
                                <div class="card-body">
                                    <div class="input-group">
                                        <span class="input-group-text" id="numberOfDebuffs"># Debuffs</span>
                                        <input v-model="numberOfDebuffs" type="number" class="form-control" aria-label="Number of Debuffs" aria-describedby="numberOfDebuffs">
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" v-model="isFire" id="fire-checkbox">
                                        <label class="form-check-label" for="fire-checkbox">
                                            Fire Target?
                                        </label>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="numberOfSkillsUsed"># Skill Uses</span>
                                        <input v-model="numberOfSkillsUsed" type="number" class="form-control" aria-label="Number of Skill Uses" aria-describedby="numberOfDebuffs">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center">Narin Ha</h3>
                            <div class="card">
                                <div class="card-body">
                                    <div class="input-group">
                                        <span class="input-group-text" id="narinHa-atk">ATK</span>
                                        <input v-model="narinHa.atk" type="number" class="form-control" aria-label="narinHa ATK" aria-describedby="narinHa-atk">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="narinHa-cr">CR%</span>
                                        <input v-model="narinHa.cr" type="number" class="form-control" aria-label="narinHa CR" aria-describedby="narinHa-cr">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="narinHa-cd">CD%</span>
                                        <input v-model="narinHa.cd" type="number" class="form-control" aria-label="narinHa CD" aria-describedby="narinHa-cd">
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="card">
                                <div class="card-body">
                                    <p>Skill Modifier Base: {{narinHa.baseSkill}}%</p>
                                    <p>Per Debuff Modifier: {{narinHa.debuffSkillModifier}}%</p>
                                    <p>Total Skill Modifier: {{narinHaSkillModifier}}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col"></div>
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-center">Results</h4>
                            <div class="table-responsive" style="max-width: 500px; margin: auto;">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Argen</th>
                                        <th scope="col">Narin Ha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" class="text-end">Skill Damage (Crit/Non Cit)</th>
                                            <td>
                                                <span class="yellow">{{niceNumberStr(argenMaxDamageCrit)}}</span>
                                                /
                                                <span class="gray">{{niceNumberStr(argenMaxDamageNonCrit)}}</span>
                                            </td>
                                            <td>
                                                <span class="yellow">{{niceNumberStr(narinHaMaxDamageCrit)}}</span>
                                                /
                                                <span class="gray">{{niceNumberStr(narinHaMaxDamageNonCrit)}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-end">AVG DMG Per Skill After {{this.numberOfSkillsUsed}} skills</th>
                                            <td>{{niceNumberStr(argenAVGSkillDamage)}}</td>
                                            <td>{{niceNumberStr(narinHaAVGSkillDamage)}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="text-end">TOTAL DMG After 25 skills</th>
                                            <td>{{niceNumberStr(argenTotalDamage)}}</td>
                                            <td>{{niceNumberStr(narinHaTotalDamage)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div id="love" class="text-center">
                <p>Made with Love by RakkaseiPeanut on US East - Katarina. Big shoutout to CoffeeJelly for being good at Maths</p>
                <p>Like this work? <a target="_blank" href="https://paypal.me/stephenraghunath1?country.x=US&locale.x=en_US">Buy me a mystic summon ;-)</a></p>
                <p>Want to contribute? <a href="https://github.com/stephenthedev/swc-calculators/blob/main/argen-vs-narin-ha/index.html" target="_blank">Open a PR here</a></p>
            </div>
        </div>
    </div>

    <style>
        h1 {
            color:white;
        }

        body {
            background: linear-gradient(91deg, #00b72f, #47b5ff);
            background-size: 400% 400%;

            -webkit-animation: AnimationName 10s ease infinite;
            -moz-animation: AnimationName 10s ease infinite;
            animation: AnimationName 10s ease infinite;
        }

        @-webkit-keyframes AnimationName {
            0%{background-position:0% 52%}
            50%{background-position:100% 49%}
            100%{background-position:0% 52%}
        }
        @-moz-keyframes AnimationName {
            0%{background-position:0% 52%}
            50%{background-position:100% 49%}
            100%{background-position:0% 52%}
        }
        @keyframes AnimationName {
            0%{background-position:0% 52%}
            50%{background-position:100% 49%}
            100%{background-position:0% 52%}
        }
    </style>

    <script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                message: 'Hello Vue!',
                argen: {
                    atk: 1000,
                    cr: 85,
                    cd: 275,
                    baseSkill: 996,
                    debuffSkillModifier: 149.4,
                },
                narinHa: {
                    atk: 1050,
                    cr: 85,
                    cd: 275,
                    baseSkill: 995.4,
                    debuffSkillModifier: 122.4,
                },
                numberOfDebuffs: 10,
                isFire: false,
                numberOfSkillsUsed: 25,
            }
        },
        computed: {
            argenSkillModifier () {
                return this.argen.baseSkill + this.argen.debuffSkillModifier * this.numberOfDebuffs
            },
            argenMaxDamageNonCrit () {
                return this.argen.atk * this.argenSkillModifier * .01
            },
            argenMaxDamageCrit () {
                return this.argenMaxDamageNonCrit * (this.argen.cd * .01 + 1)
            },
            argenAVGSkillDamage () {
                return this.argenTotalDamage / this.numberOfSkillsUsed
            },
            argenTotalDamage () {
                return (this.numberOfSkillsUsed * this.argen.cr * .01 * this.argenMaxDamageCrit) +
                    (this.numberOfSkillsUsed * (1-this.argen.cr * .01) * this.argenMaxDamageNonCrit)
            },
            narinHaMaxDamageCrit () {
                return this.narinHaMaxDamageNonCrit * (this.narinHa.cd * .01 + 1) * (this.isFire ? 1.25 : 1)
            },
            narinHaSkillModifier () {
                return this.narinHa.baseSkill + this.narinHa.debuffSkillModifier * this.numberOfDebuffs
            },
            narinHaMaxDamageNonCrit () {
                return this.narinHa.atk * this.narinHaSkillModifier * .01 * (this.isFire ? 1.25 : 1)
            },
            narinHaAVGSkillDamage () {
                return this.narinHaTotalDamage / this.numberOfSkillsUsed
            },
            narinHaTotalDamage () {
                return (this.numberOfSkillsUsed * this.argen.cr * .01 * this.narinHaMaxDamageCrit) +
                    (this.numberOfSkillsUsed * (1-this.argen.cr * .01) * this.argenMaxDamageNonCrit)
            }
        },
        methods: {
            niceNumberStr(num) {
                return Math.floor(num).toLocaleString('en-US')
            }
        }
    }).mount('#app')
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>